p {
    color: purple;
}

#idtest {
    color: darkgoldenrod;
}

.specialtext{
    font-style: italic;
    background-color: darkgoldenrod;
}

a:hover{
    cursor: pointer;
    background-color: green;
}

#dinamic {
    ::first-letter{
        color: green;
    }
}