body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #333333;
}

a{
    color: #FFFFFF;
}

h2,h3{
    color: #0099FF;
}

.date{
    font-size: 14px;
    font-weight: italic;
    color: gray;
}

.odd{
    color: #F2F2F2;
}

h3 > a{
    color: red;
}