main {
    max-width: 968px;
}

ul {
    list-style: none;
}

input[type=checkbox]:checked + label{
    text-decoration: line-through;
}

.study {
    border-left: 5px solid blue;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
}
  
.leisure {
    border-left: 5px solid red;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
}
  
.read {
    border-left: 5px solid greenyellow;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
}
  
.health {
    border-left: 5px solid violet;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
}